// Navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item {
    font-size: 1.8rem;
    margin: 0 4px;
}

.navbar-link {
    padding: 8px 6px;
    font-weight: 600;

    &:hover {
        color: var(--green);
    }
}

.navbar-link.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 9999px;
    transition: color 0.15s ease;

    &:hover {
        color: var(--green);
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }
}



.navbar-link.gift-vouchers {
    padding: 10px 8px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 9999px;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;

    &:hover {
        background-color: var(--white);
        color: var(--black);
        border: 1px solid var(--black);
    }
}