// Navbar
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

// Navbar only text
.nav-text {
    display: flex;
    align-items: center;
}

.nav-text__item {
    .nav-text__link {
        background-color: transparent;
        font-weight: 500;
        font-size: 2rem;
    }
}

.nav-text__link {
    transition: color 0.25s ease;

    &:hover {
        color: var(--primary)
    }

    ;
}

.nav-text__no-link {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-weight: 500;
    font-size: 2rem;
    font-family: ProximaNova;
    color: var(--text-color);
    transition: color 0.25s ease;
    border: none;
    cursor: pointer;

    &:hover {
        color: var(--primary)
    }

    .arrow {
        margin-left: 4px;
        font-size: 1.6rem;
    }
}




// Navbar button
.nav-button {
    display: flex;

    .nav-button__link {
        transition: transform 0.2s;
        line-height: 2rem;
        font-weight: 500;
        font-size: 2rem;
    }


}

.nav-button__link {
    &:hover {
        box-shadow: 0 4px 10px 2px rgb(254 134 48 / 28%);
        transform: scale3d(1.05, 1.05, 0.01);
        background-color: var(--primary);
    }
}


.nav-button__link:first-child {
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
        background-color: var(--primary);
    }
}